button{
width: 100px;
height: 100px;
border-radius: 50px;
background-color: hsl(0,0%,30%);
border: none;
color: white;
font-size: 3rem;
font-weight: bold;
cursor: pointer;
}
button:hover{background-color: gold;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;

}
#calculator{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: hsl(0,0%,15%);
    max-width: 500px;
    overflow: hidden;
    border-radius: 15px;
}
#display{
    width: 70%;
    padding: 20px;
    font-size: 3.5rem;
    color: white;
    text-align: left;
    border: none;
    background-color: hsl(0,0%,20%);
    resize: none;
}
body{
    margin: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 50vh; */
    background-color:hsl(0,0%,95%);
}
.op{
    background-color: orange;
}

.green:hover{
    background-color: green;
}